# Environment variables & secrets
.env

# Python Virtual Environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db
*.sqlite3

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
